.small-bold, header nav a, section.about h3, footer .locker .content-wrap a, footer .locker .content-wrap .copyright {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Calibri Light";
  font-size: 1em; }

/*************************************          HEADER STYLE          ************************************ */
.small-bold, header nav a, section.about h3, footer .locker .content-wrap a, footer .locker .content-wrap .copyright {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Calibri Light;
  font-size: 1em; }

body {
  margin: 0;
  padding: 0; }

header {
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/full-water.png");
  background-size: cover; }
  header .logo {
    height: 50px;
    width: 50px;
    float: left;
    margin: 1em 0 0 1em;
    opacity: 0.6; }
  header nav {
    float: right;
    margin: 2em 1em 0 0; }
    header nav a {
      display: inline-block;
      margin-left: 0.8em; }
      header nav a:hover {
        color: #fff; }
  header h1 {
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 0.3em;
    clear: both; }
    header h1 span {
      display: inline-block;
      padding: 0.1em 0.4em;
      border: white solid 10px;
      padding: 0 10px; }
  header .subtitle {
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    line-height: 1em; }

section.about {
  max-width: 49em;
  margin: 0 auto; }
  section.about h3 {
    color: #215f72;
    text-align: center; }
  section.about .face-contain {
    display: flex;
    margin: 0 auto;
    width: 60%;
    align-items: center;
    justify-content: space-between; }
    section.about .face-contain .face-img {
      width: 91px;
      height: 91px;
      border-radius: 50%;
      background-color: pink;
      order: 3; }
    section.about .face-contain .icon-pencil {
      order: 1; }
    section.about .face-contain .icon-mouse {
      order: 2; }
    section.about .face-contain .icon-browser {
      order: 4; }
    section.about .face-contain .icon-video {
      order: 5; }
  @media screen and (max-width: 550px) {
    section.about .face-contain {
      display: block;
      text-align: center; }
      section.about .face-contain .face-img {
        text-align: center;
        margin: 0 auto 15px auto; }
      section.about .face-contain [class^="icon-"] {
        display: inline-flex;
        margin: 10px;
        align-items: center; } }
  section.about .text {
    text-align: center;
    padding: 0 15px; }
  section.about .skill-lockup {
    max-width: 700px;
    margin: 60px auto;
    color: #215f72;
    content: "";
    display: table;
    clear: both; }
    section.about .skill-lockup .skill-unit {
      width: 350px;
      float: left; }
      section.about .skill-lockup .skill-unit .skill-icons .outer-stat {
        height: 13px;
        width: 340px;
        background-color: transparent;
        margin: 5px 10px 0 0; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-1 {
          height: inherit;
          width: 170px;
          background-color: #215f72; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-2 {
          height: inherit;
          width: 238px;
          background-color: #215f72; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-3 {
          height: inherit;
          width: 204px;
          background-color: #215f72; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-4 {
          height: inherit;
          width: 102px;
          background-color: #215f72; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-5 {
          height: inherit;
          width: 272px;
          background-color: #215f72; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-6 {
          height: inherit;
          width: 227.8px;
          background-color: #215f72; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-7 {
          height: inherit;
          width: 306px;
          background-color: #215f72; }
        section.about .skill-lockup .skill-unit .skill-icons .outer-stat .inner-stat-8 {
          height: inherit;
          width: 204px;
          background-color: #215f72; }

/*************************************          FOOTER STYLE          ************************************ */
footer {
  background: url("../img/full-water.png") no-repeat top;
  background-size: cover; }
  footer .locker {
    padding-top: 25px;
    padding-bottom: 70px;
    padding-left: 1em;
    clear: both;
    background-size: cover; }
    footer .locker .logo {
      height: 50px;
      width: 50px;
      float: left; }
      footer .locker .logo svg {
        fill: #215f72; }
    footer .locker .content-wrap {
      float: left;
      margin: 0.5em 0 0.3em 20px; }
      footer .locker .content-wrap a {
        margin-right: 0.4em;
        color: #393939;
        font-size: 0.85em;
        display: inline-block; }
        footer .locker .content-wrap a:hover {
          color: #000; }
      footer .locker .content-wrap .copyright {
        margin: 0.2em 0 0;
        letter-spacing: 0.14em;
        font-size: 0.675em;
        color: #444444; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
